{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | inzain.net{% endblock title %}

{% block content %}
<h3><a href="/blog/{{ post.slug }}">{{ post.title }}</a>
  <div class="byline">{{ post.pub_date|date:"F j, Y" }}</div></h3>

<div class="postbody">{{ post.body|safe }}</div>

<p>&nbsp;</p>
<h4>Comments</h4>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/inzain/embed.js"></script><noscript><a href="http://disqus.com/forums/inzain/?url=ref">View the discussion thread.</a></noscript>
{% endblock content %}