{% extends 'base.html' %}
{% block title %}About Zain | inzain.net{% endblock title %}

{% block navigation %}
<div id="navigation">
  <ul>
    <li>
      <a href="/" class="selected">About</a>
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="/links/">Links</a>
    </li>
    <li>
      <a href="/projects/">Projects</a>
    </li>
    <li>
      <a href="/blog/feeds/">RSS Feed</a>
    </li>
  </ul>
</div>
{% endblock navigation %}
{% block content %}
<h3>About me</h3>
<p>Hi, my name is Zain Memon.</p>
<p>I'm a 22 year old coder living in the Bay Area. Right now, I make encryption software as the 
  lead developer of the <a href="http://www.voltage.com/vsn/">VSN</a> team at Voltage Security.
  I'm also a regular contributor to many open source projects, most notably the 
  <a href="http://djangoproject.org/">Django web framework</a>.</p>
<p>You can email me at <a href="mailto:zain@inzain.net">zain@inzain.net</a>. 
    Don't apologize for getting in touch — I'm happy to meet you!</p>
<br />

<h3>About this site</h3>
<p>This is my personal website where I write mostly about my technical interests, which include 
  nerdy topics like web development, mobile devices, and information security.</p>
<p>The site itself is a custom <a href="http://www.djangoproject.com/">Django</a> application that I've 
  put on <a href="http://github.com/zain/inzain">GitHub</a>. Code highlighting is done by <a href="http://pygments.org/">pygments</a>, 
  search is powered by <a href="http://haystacksearch.org/">Haystack</a>, and tweets are 
  grabbed using <a href="http://code.google.com/p/python-twitter/">python-twitter</a>.</p>
<p>The server is running 
  <a href="http://httpd.apache.org/">Apache 2</a> (<a href="http://code.google.com/p/modwsgi/">mod_wsgi</a>) 
  behind <a href="http://nginx.net/">nginx</a>. It is hosted by 
  <a href="https://manage.slicehost.com/customers/new?referrer=df2730ea935736597049e32c4bfaec10">Slicehost</a> 
  on a 256mb <a href="http://www.ubuntu.com/products/whatIsubuntu/serveredition">Ubuntu 9.10</a> 
  slice. The back-end is powered by <a href="http://www.postgresql.org/">PostgreSQL 8</a> and 
  caching is done by <a href="http://www.danga.com/memcached/">memcached</a>.</p>
{% endblock content %}