{% extends 'base.html' %}

{% block content %}
<h3><a href="#">Happy New Year</a></h3>
<div class="byline">January 2, 2007 </div>
<p>Lorem ipsum dolor <a href="#">sit amet, consectetur adipiscing elit.</a> Pellentesque nec odio eget libero dapibus iaculis. Pellentesque vitae nibh eros, ac porttitor purus. Aenean a nisl lobortis tellus imperdiet bibendum. Sed vestibulum ipsum vitae nisl varius varius. Nam sit amet nulla at dolor ullamcorper consectetur varius ut est. Aliquam erat volutpat. Quisque ac ligula enim. Duis egestas rutrum ligula in blandit. Etiam laoreet massa eu augue sollicitudin ultrices. Fusce eu consectetur tellus. </p>
<div class="nodeFoot"><a href="#">read more</a> &nbsp;&bull;&nbsp; <a href="#">5 comments</a></div><br />

<h3><a href="#">Merry Christmas </a></h3>
<div class="byline">December 13, 2006 </div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec odio eget libero dapibus iaculis. Pellentesque vitae nibh eros, ac porttitor purus. Aenean a nisl lobortis tellus imperdiet bibendum. Sed vestibulum ipsum vitae nisl varius varius. Nam sit amet nulla at dolor ullamcorper consectetur varius ut est. Aliquam erat volutpat. Quisque ac ligula enim. Duis egestas rutrum ligula in blandit. Etiam laoreet massa eu augue sollicitudin ultrices. Fusce eu consectetur tellus. </p>
<p>
Vestibulum in ligula risus. Suspendisse vitae tellus diam, vel ullamcorper velit. Curabitur mi quam, posuere eget porttitor nec, semper eu lectus. Maecenas in quam ligula, nec interdum sem. Curabitur ante nisi, commodo eget tincidunt non, placerat id nisi. Ut ornare lorem eget erat fringilla luctus. Aenean et metus non dolor posuere elementum. Suspendisse ipsum justo, tempus in congue ultrices, sollicitudin et nisi. Curabitur dictum leo id nunc auctor egestas. Proin ac leo ut nisi molestie malesuada vitae sed nibh. In at tellus sed erat sodales placerat. 
</p>
<div class="nodeFoot"><a href="#">read more</a> &nbsp;&bull;&nbsp; <a href="#">0 comments</a></div><br />
{% endblock content %}