{% extends 'base.html' %}

{% block content %}
<h3><a href="#">Happy New Year </a></h3>
<div class="byline">By Aaron Ganschow, January 2, 2007 </div>
<p>The design started with a very simple idea, and with help from some close friends, I have completed a somewhat comprehensive design in a surprisingly short amount of time. I have some hesitations as well as some shining pride for this design. Some of my ideas for this design are discussed in the <a href="design.html">design section</a>, as well as some explanation of how it works. Please take the time to review what I ahve written so that you can use this design to its fullest potential in your website.</p>
<div class="nodeFoot"><a href="#">read more</a> &nbsp;&bull;&nbsp; <a href="#">5 comments</a></div><br />

<h3><a href="#">An introduction to annonymous </a></h3>
<div class="byline">By Aaron Ganschow, December 13, 2006 </div>
<p>
  This is where I like to spout random stuff that most people don&rsquo;t
  really care about anyway. I already know that what I say doesn&rsquo;t
  matter to the mass population. I still write my daily musings for one
  reason, and one reason alone: The lone soul who visits my page and gets
  every single one of my jokes. This person is mysterious and indescribable.
  He has a sense of humor that most people question whether he is a serial
  murderer or just retarded. He is neither! He is actually an
  undiscovered genius!
</p>
<p>
  If your IP shows up in my logs frequently, as if you are enjoying what I
  post here, I will make sure to forward an application to MENSA to you. Good
  luck!
</p>
<div class="nodeFoot"><a href="#">read more</a> &nbsp;&bull;&nbsp; <a href="#">0 comments</a></div><br />
{% endblock content %}